* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header section  */

header {

    background: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-blend-mode: normal;
    padding-bottom: 150px;


}



.header-title {
    padding-top: 300px;
    padding-bottom: 40px;
    font-size: 2.5em;
    color: white;
}

.header-para {
    margin: 0 600px;
    padding-bottom: 40px;
    color: white;
}

.btn-primary {
    color: white;
    background-color: #FB5A55;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 7%;


}

/* margin-bottom: 150px; */


/* Donate Section  */

.section-donate {
    text-align: center;
}

.donate-header {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 2em;
    color: #121212;
}

.donate-para {
    margin: 0 600px 30px;
    font-weight: 900;
    color: #707070;
}

.donate-button {
    margin-top: 30px;
}

.boxed label {
    display: inline-block;
    height: 70px;
    width: 80px;
    margin-top: 20px;
    margin-right: 50px;
    padding: 40px 20px 5px 20px;
    font-size: 25px;
    font-weight: 900;
    color: #707070;
    border: none 2px #ccc;
    border-radius: 5%;
    box-sizing: content-box;

    background-color: #fafafa;
}



.boxed input[type="radio"] {
    display: none;


}

.boxed input[type="radio"]:checked+label {
    border: solid 2px #FB5A55;
    color: #FB5A55;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

input[type="number"] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 150px;
    padding-right: 50px;

}

#other-amount:focus {
    outline: none;
}

/* Donate plans  */

.donate-plan {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    margin: 100px 200px;

}

.resource-food {
    background-color: #edf5f6;
    padding: 50px 50px 30px;
}

.resource-shelter {
    background-color: #ffeeee;
    padding: 50px 50px 30px;
}

.resource-education {
    background-color: #fff4d6;
    padding: 50px 50px 30px;
}

.resource-title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
}



/* section contribute  */

.section-contribute1 {

    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

}

.images1 {
    width: 500px;
    height: 400px;
    margin-right: 400px;
    margin-left: 100px;
}

.images2 {

    width: 500px;
    height: 400px;
    margin-left: 400px;
    margin-right: 100px;
}

.contribute-div1 {
    margin-left: 300px;
}

.contribute-div2 {
    margin-right: 300px;
}

.contribute-btn {
    width: 30%;
    color: white;
    background-color: #FB5A55;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    height: 50px;


}

.contribute-heading {
    padding-bottom: 30px;
    font-size: 2em;
    font-weight: 900;
}

.contribute-para {
    padding-bottom: 30px;
}

.section-contribute2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* updates section  */

.update-title {
    font-size: 2em;
    font-weight: 900;
}

.update-div {
    margin: 0 600px 30px;
}

.update-para {
    padding-top: 30px;
}

.section-update {
    text-align: center;
}

#email {
    width: 18%;
    background-color: #d9d9d9;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    height: 50px;
}

#submit {
    width: 8%;
    color: white;
    background-color: #FB5A55;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    height: 50px;

}

/* footer section  */

footer {
    text-align: center;
    background: #0b0d17;
    margin-top: 100px;
    padding: 50px 0;
}

footer>h2 {
    font-family: 'Pacifico', cursive;
    color:#ff5959;
}

footer>h4 {
    color: #ccc;
}